---
layout: default
title: EITC Fact Sheets
---

<div class='row'>
  <div class='col-md-12'>
    <p><br /><a href='index.html'>&laquo; back home</a></p>
    <h1>EITC Fact Sheets</h1>

    <p>See how doubling the Illinois Earned Income Tax Credit (EITC) from 10 to 20% will affect each House and Senate district.</p>

    <div class='row'>
      <div class='col-md-4'>
        <h3>Illinois House Districts (1-59)</h3>
        <ul>
        {% for i in (1..59) %}
          <li><a href='docs/EITC Legislative Fact Sheets FINAL {{i}}.pdf'>House District {{i}}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class='col-md-4'>
        <h3>Illinois House Districts (60-118)</h3>
        <ul>
        {% for i in (60..118) %}
          <li><a href='docs/EITC Legislative Fact Sheets FINAL {{i}}.pdf'>House District {{i}}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class='col-md-4'>
        <h3>Illinois Senate Districts (1-59)</h3>
        <ul>
        {% for i in (1..59) %}
          <li><a href='docs/Senate District Fact Sheets v1 {{i}}.pdf'>Senate District {{i}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>
